* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app-root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
}

#app-root {
  display: flex;
  flex: 1;
  min-height: 0;
}
